.block-five {
    height: 758px;
    background: url(../images/banner-next3.png) no-repeat;
    background-size: 100% 100%;
    &__container {
        // background: black;
    }
    &__content {
        padding-left: 68px;
        padding-right: 68px;
        padding-top: 84px;
        padding-bottom: 97px;
        background: #030404c2;
        color: white;
        // margin: 100px 0px;
        margin-top: 100px;
        margin-bottom: 100px;
        h4 {
            font-size: 36px;
            font-family: 'Yeseva One', cursive;
            margin-bottom: 20px;
        }
    }
    &__text {
        font-size: 25px;
        font-family: 'Lato', sans-serif;
        margin-bottom: 43px;
    }
    &__address {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }
    &__img {
        img {
            margin-bottom: 27px;
        }
    }
}

@media only screen and (max-width:768px) {
    .block-five {
        height: auto;
        &__content {
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 34px;
            padding-bottom: 47px;
            background: #030404c2;
            color: white;
            // margin: 100px 0px;
            margin-top: 100px;
            margin-bottom: 100px;
            h4 {
                font-size: 36px;
                font-family: 'Yeseva One', cursive;
                margin-bottom: 20px;
            }
        }
    }
}